In [1]:
import pandas as pd

In [10]:
path = '../data/_fixed.csv'
mass_shooting = pd.read_csv(path)

In [15]:
mass_shooting.head(5)

,case_id,city,state,latitude,longitude,number_of_victim_fatalities,number_of_victims_injured,total_number_of_victims,date,shooter_age,...,shooter_race,type_of_gun,total_number_of_guns,shooter_cause_of_death,place_type,relationship_to_incident_location,targeted_victims,possible_motive,history_of_mental_illness,military_experience
0,1,Austin,Texas,30.198887,-97.844159,16,32,48,1966-08-01,25,...,White American or European American,Multiple guns,7,Killed,College/University/Adult education,Place of schooling,General public,Mental illness,Yes,Yes
1,2,Mesa,Arizona,33.422687,-111.816320,5,1,6,1966-11-12,18,...,White American or European American,Handgun,1,Not applicable,College/University/Adult education,None,Students/Classmates/Teacher,Mental illness,Yes,Unknown
2,3,New Orleans,Louisiana,30.068724,-89.931474,9,13,22,1972-12-31,23,...,Black American or African American,Multiple guns,2,Killed,Government facility,Local government,Government,Race,Yes,Unknown
3,4,Chicago,Illinois,41.839280,-87.688181,1,3,4,1974-01-17,14,...,Unknown,Handgun,2,Not applicable,Primary school,Place of schooling,Students/Classmates/Teacher,Expulsion/Suspension,Yes,Unknown
4,5,Olean,New York,42.081854,-78.432139,3,7,10,1974-12-30,17,...,White American or European American,Multiple guns,2,Not applicable,Secondary school,Place of schooling,General public,Mental illness,No,Unknown

In [12]:
mass_shooting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   case_id                            307 non-null    int64
 1   city                               307 non-null    object
 2   state                              307 non-null    object
 3   latitude                           307 non-null    float64
 4   longitude                          307 non-null    float64
 5   number_of_victim_fatalities        307 non-null    int64
 6   number_of_victims_injured          307 non-null    int64
 7   total_number_of_victims            307 non-null    int64
 8   date                               307 non-null    object
 9   shooter_age                        307 non-null    object
 10  shooter_sex                        307 non-null    object
 11  shooter_race                       307 non-null    object
 12  type_of_gun                        307 non-null    object
 13  total_number_of_guns               307 non-null    int64
 14  shooter_cause_of_death             307 non-null    object
 15  place_type                         307 non-null    object
 16  relationship_to_incident_location  306 non-null    object
 17  targeted_victims                   306 non-null    object
 18  possible_motive                    306 non-null    object
 19  history_of_mental_illness          307 non-null    object
 20  military_experience                301 non-null    object
dtypes: float64(2), int64(5), object(14)
memory usage: 50.5+ KB

In [57]:
group_illness = mass_shooting.groupby(mass_shooting['history_of_mental_illness'])['case_id'].count()

In [58]:
group_illness

history_of_mental_illness
No          93
Unknown    119
Yes         95
Name: case_id, dtype: int64

In [59]:
shooter_illness = pd.DataFrame(group_illness, columns=['case_id'])
shooter_illness

                           case_id
history_of_mental_illness
No                              93
Unknown                        119
Yes                             95

In [60]:
shooter_illness.to_csv('../Data/shooter_illness.csv', index = True)